@import "base.css";

.line {
    margin-top: 10px;
    position: relative;
}

.line input {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
    color: var(--color-text-input);
    margin-bottom: 20px;
    border: none;
    border-bottom: 3px solid var(--color-text-href);
    outline: none;
    background: transparent;
    transition:
            color var(--color-transition);
}

.line label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .2s ease-in-out;
}

.line > input:focus ~ label,
.line > select:focus ~ label,
.line > input:not(:placeholder-shown) ~ label,
.line > select.notEmpty ~ label,
.line > input.notEmpty ~ label {
    top: -20px;
    font-size: 0.8em;
}